{% extends 'page/index.html.twig' %}

{% block heading %}Festival{% endblock %}

{% block content %}
    <div class="space-y-4 line-height text-base/4">
        <p>Après 30 concerts organisés en deux ans et demi à explorer avec passion le vaste spectre des musiques expérimentales, l'association dédale voit les choses en grand avec le dédale festival !</p>
        <p>Réunissant une ribambelle d'artistes d'ici et d'ailleurs, d'associations et de lieux avec qui nous avons déjà collaboré, le dédale festival cherche à faire sortir l'underground de sa niche...</p>
        <p>Au programme cinq concerts, chacun dédié à une esthétique particulière (noise, glitch, ambient, electroacoustic, post-trad), ainsi que quatre rendez-vous autour d'autres médiums : danse improvisée, cinéma expérimental, installations sonores, performances.</p>
        <p>Sur neuf jours les explorations soniques et performances avant-gardistes seront le contrepoint de votre train-train quotidien. Un carambolage entre les arts en bonne et due forme, pour venir titiller certaines zones encore inconnues de votre sensibilité.</p>
        <p>Chaque évènement sera disséminé à travers la ville, et fera vibrer un recoin du dédale... alors vous venez vous y perdre ?</p>
    </div>
{% endblock %}
