{% extends 'base.html.twig' %}

{% block bodyClass %}home{% endblock %}

{% block subheading %}\\Prochainement//{% endblock %}

{% block content %}
    <div class="border-1 border-dashed">
        <img src="{{ asset('images/affiche.webp') }}" alt="Affiche complète festival dédale du 19 au 27 septembre 2025" class="w-full h-full">
    </div>
{% endblock %}
