<li role="listitem" class="list-row">
    <div>
        {% block img %}
            <img class="size-20" src="{{ asset('images/pass.jpg') }}"/>
        {% endblock %}
    </div>
    <div>
        <div class="font-mono">{% block title %}{% endblock %}</div>
        <div class="text-xs uppercase font-expanded">{% block venue %}{% endblock %}</div>
        <div class="text-xs font-expanded">{% block address %}{% endblock %}</div>
        <div class="text-xs font-expanded">{% block time %}{% endblock %}</div>
        <div class="text-xs font-expanded">{% block paf %}{% endblock %}</div>
    </div>
    <a href="{% block link %}{% endblock %}" class="btn btn-square btn-dash border-dashed hover:border-transparent bg-white text-black size-8 flex items-center justify-center" target="_blank">
        <svg class="size-[1.2em]" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><g stroke-linejoin="round" stroke-linecap="round" stroke-width="2" fill="none" stroke="currentColor"><path d="M6 3L20 12 6 21 6 3z"></path></g></svg>
    </a>
</li>
<li class="list-row">
    <div>
        {% block content %}{% endblock %}
    </div>
</li>
