@import "tailwindcss";
@plugin "../vendor/daisyui/daisyui.index.js" {
    themes: black --default;
}

@font-face {
    font-family: 'Zai Olivetti Underwood';
    src: url('../fonts/zai_olivetti-underwoodstudio21typewriter.woff2') format('woff2'),
    url('../fonts/zai_olivetti-underwoodstudio21typewriter.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Finder';
    src: url('../fonts/finder.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Akira Expanded';
    src: url('../fonts/AkiraExpanded.woff2') format('woff2'),
    url('../fonts/AkiraExpanded.woff') format('woff');
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}

@theme {
    --color-white: #ffffff;
    --color-black: #000000;
    --font-sans: "Finder", sans-serif;
    --font-expanded: "Akira Expanded", sans-serif;
    --font-mono: "Zai Olivetti Underwood", ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New";
    --h-logo: 170px;
}

body {
    font-family: var(--font-sans), sans-serif;
    color: var(--color-white);
    background-size: 100%;
}

@media screen and (min-width: 48rem) {
    body {
        background: var(--color-black) url("../images/background-rotate.jpg") repeat;
        background-size: 100%;
    }
}

body.home {
    background: none;
}

header {
    font-family: var(--font-mono), monospace;
}

nav[role="navigation"] li a {
    font-family: var(--font-expanded), sans-serif;
    white-space: nowrap;
    position: relative;
    bottom: 0;
    transition: bottom 100ms ease-in-out;
    font-size: var(--text-xl);
}

nav[role="navigation"] li:not(.partners):hover a {
    outline: 1px dashed var(--color-white);
    outline-offset: 4px;
    bottom: 2px;
}

#main-content p:first-letter,
#main-content .line-up article p:first-letter {
    font-family: var(--font-mono), monospace;
}

#main-content .line-up p:first-letter {
    font-family: var(--font-sans), sans-serif;
}

.strikethrough:before {
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    right: 0;
    border-top: 2px solid;
    border-color: inherit;
    transform: rotate(-30deg);
}

.list {
    & > :not(:last-child) {
        &.list-row, .list-row {
            &:after {
                border-bottom: var(--border) dashed var(--color-base-300);
            }
        }
    }
}
