@import "tailwindcss";
@plugin "../vendor/daisyui/daisyui.index.js" {
    themes: black --default;
}

@font-face {
    font-family: 'Zai Olivetti Underwood';
    src: url('../fonts/zai_olivetti-underwoodstudio21typewriter.woff2') format('woff2'),
    url('../fonts/zai_olivetti-underwoodstudio21typewriter.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Finder';
    src: url('../fonts/finder.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Akira Expanded';
    src: url('../fonts/akira_expanded.woff2') format('woff2'),
    url('../fonts/akira_expanded.woff') format('woff');
    font-weight: 800;
    font-style: normal;
}

@theme {
    --color-white: #ffffff;
    --color-black: #000000;
    --font-sans: "Finder", sans-serif;
    --font-expanded: "Akira Expanded", sans-serif;
    --font-mono: "Zai Olivetti Underwood", ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New";
    --h-logo: 170px;
}

body {
    background: var(--color-black) url("../images/background-rotate.jpg");
    background-size: cover;
    font-family: var(--font-sans), sans-serif;
    color: var(--color-white);
}

header {
    font-family: var(--font-mono), monospace;
}

header nav {
    font-family: var(--font-expanded), sans-serif;
}

li[role=menuitem] a {
    white-space: nowrap;
    position: relative;
    bottom: 0;
    transition: bottom 100ms ease-in-out;
    font-size: var(--text-xl);
}

li[role=menuitem]:hover a {
    outline: 1px dashed var(--color-white);
    outline-offset: 4px;
    bottom: 2px;
}

#main-content p:first-letter {
    font-family: var(--font-mono), monospace;
}

#main-content .line-up p:first-letter {
    font-family: var(--font-sans), sans-serif;
}
