<a href="{{ path('home') }}">
    <img
        src="{{ asset('images/logo.png') }}"
        class="max-w-[250px] md:max-w-[290px]"
        alt="Dédale au posca en écriture manuscrite"
    />
    <small class="text-xs md:text-sm md:whitespace-nowrap"><span class="whitespace-nowrap">Musique expérimentale</span> <br>& arts déviants</small>
</a>
