<!DOCTYPE html>
<html lang="fr" data-theme="black">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}Dédale • Bordeaux • Musique expérimentale & arts déviants{% endblock %}</title>
    <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text><text y=%221.3em%22 x=%220.2em%22 font-size=%2276%22 fill=%22%23fff%22>sf</text></svg>">
    {% block stylesheets %}
    {% endblock %}

    {% block javascripts %}
        {% block importmap %}{{ importmap('app') }}{% endblock %}
    {% endblock %}
</head>
<body class="min-h-screen">
<div class="h-full grid grid-cols-12 gap-4">
    {% block header %}
        <header role="banner" class="col-span-12 lg:col-span-3 m-6 mb-0 lg:m-16 mr-3">
            <div class="drawer">
                <input id="main-menu" type="checkbox" class="drawer-toggle" />
                <div class="drawer-content flex flex-col">
                    <div class="flex items-start justify-between lg:block lg:mb-12 z-1">
                        {% include '_logo.html.twig' %}
                        <label for="main-menu" class="lg:hidden btn btn-ghost border-1 border-dashed hover:border-transparent border-white hover:bg-black">
                            <span class="font-expanded text-base">
                                menu
                            </span>
                        </label>
                    </div>
                </div>
                <div class="drawer-side z-2">
                    <label for="main-menu" aria-label="close sidebar" class="drawer-overlay"></label>
                    <ul class="bg-base-100 min-h-full p-6 space-y-6">
                        <div class="mb-12">
                            {% include '_logo.html.twig' %}
                        </div>
                        {% include '_menuitems.html.twig' %}
                    </ul>
                </div>
            </div>
            <nav class="hidden lg:block">
                <ul class="flex flex-col space-y-6">
                    {% include '_menuitems.html.twig' %}
                </ul>
            </nav>
        </header>
    {% endblock %}
    {% block body %}
        <main class="h-screen col-span-12 md:col-span-8 lg:col-span-6">
            <section class="m-6 mb-0 lg:m-16 ml-4">
                <h1 class="font-expanded text-6xl lg:pt-18 pb-3">
                    {% block heading %}{% endblock %}
                </h1>
                <h3 class="font-mono text-xl pb-12">
                    {% block subheading %}{% endblock %}
                </h3>
                <div id="main-content" class="z-1 relative">
                    {% block content %}{% endblock %}
                </div>
            </section>
        </main>
        <aside class="w-[320px] lg:w-1/3 absolute right-0 opacity-55 md:opacity-95 z-0">
            <header class="h-screen relative overflow-auto">
                {% block maze %}
                    <img src="{{ asset('images/maze-animated.svg') }}" alt="">
                {% endblock %}
            </header>
            {% block aside %}{% endblock %}
        </aside>
    {% endblock %}
</div>
</body>
</html>
